<div class="content-wrapper" fxLayout="column">
    <mat-toolbar *ngIf="showToolbar"
                 [matTooltip]="'Press \'CTRL+q\' to toggle toolbar visiblity!'">

        <span>Presentation</span>

        <a mat-button routerLink="overview">Overview</a>
        <span fxFlex></span>


        <span fxLayout="row" fxLayoutGap="18px">
            <span>
                <mat-slide-toggle (change)="togglePrintView($event.checked)" [(ngModel)]="printView">Druck Ansicht</mat-slide-toggle>
            </span>

            <span>
                <mat-slide-toggle (change)="toggleTheme($event.checked)" [(ngModel)]="darkTheme">Dark Theme</mat-slide-toggle>
            </span>
        </span>
    </mat-toolbar>

    <mat-card fxFlex>
        <router-outlet></router-outlet>
    </mat-card>
</div>

